/*Created by Andrew Adhigunarsa*/


.tab-pane{
    padding:30px;
}


.color-gradient {
    height: 65px;
    width: 65px;
    border: 1px solid #ddd;
    background: -moz-linear-gradient(-45deg,rgba(255,255,255,0.1) 19%,rgba(0,0,0,0.23) 100%);
    background: -webkit-gradient(linear,left top,right bottom,color-stop(19%,rgba(255,255,255,0.1)),color-stop(100%,rgba(0,0,0,0.23)));
    background: -webkit-linear-gradient(-45deg,rgba(255,255,255,0.1) 19%,rgba(0,0,0,0.23) 100%);
    background: -o-linear-gradient(-45deg,rgba(255,255,255,0.1) 19%,rgba(0,0,0,0.23) 100%);
    background: -ms-linear-gradient(-45deg,rgba(255,255,255,0.1) 19%,rgba(0,0,0,0.23) 100%);
    background: linear-gradient(135deg,rgba(255,255,255,0.1) 19%,rgba(0,0,0,0.23) 100%);
        background-color: rgba(0, 0, 0, 0);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1affffff',endColorstr='#3b000000',GradientType=1);
    

    margin: 0 5px 10px 0;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
}

.color-gradient2 {
    height: 20px;
    width: 80px;
    border: 1px solid #ddd;
    background: -moz-linear-gradient(-45deg,rgba(255,255,255,0.1) 19%,rgba(0,0,0,0.23) 100%);
    background: -webkit-gradient(linear,left top,right bottom,color-stop(19%,rgba(255,255,255,0.1)),color-stop(100%,rgba(0,0,0,0.23)));
    background: -webkit-linear-gradient(-45deg,rgba(255,255,255,0.1) 19%,rgba(0,0,0,0.23) 100%);
    background: -o-linear-gradient(-45deg,rgba(255,255,255,0.1) 19%,rgba(0,0,0,0.23) 100%);
    background: -ms-linear-gradient(-45deg,rgba(255,255,255,0.1) 19%,rgba(0,0,0,0.23) 100%);
    background: linear-gradient(135deg,rgba(255,255,255,0.1) 19%,rgba(0,0,0,0.23) 100%);
        background-color: rgba(0, 0, 0, 0);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1affffff',endColorstr='#3b000000',GradientType=1);
    

    margin: 0 5px 10px 0;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
}


.attribute{
    cursor:pointer;
}



/*// Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) { 

 
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
            #collapseOne .card-body,
            #collapseTwo .card-body{
              column-count: 2;
        }
        
        #collapseTwo .card-body .colsubtitle{
          column-span: all;-webkit-column-span: all;
          width: 100%;
        }
  
  
  
    }

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    }

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    }
    
/*.carousel-control-next, .carousel-control-next{*/
/*    color: grey !important;*/
/*}*/

#content-slider2 h2,
#content-slider2 h4,
#content-slider2 h5
{
    font-weight: 100;    
}

.margin-top-bot{
    margin: 30px 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  /*outline: grey;*/
  padding:5px;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid grey;
  background-image: none !important;
}

/*.carousel-control-next-icon:after*/
/*{*/
/*  content: '>';*/
/*  font-size: 55px;*/
/*  color: red;*/
/*}*/

/*.carousel-control-prev-icon:after {*/
/*  content: '<';*/
/*  font-size: 55px;*/
/*  color: red;*/
/*}*/


.wrapper {
  margin: 10px auto;
  background: #fff;
  /*border: 1px solid #dad0ca;*/
  border-radius: 3px;
}
@media (min-width: 48em) {
  .wrapper {
    max-width: 1500px;
  }
}

.stepper {
  padding: 10px;
  font-size: 13px;
}
@media (min-width: 48em) {
  .stepper {
    padding: 20px;
  }
}
.stepper__list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 48em) {
  .stepper__list {
    display: flex;
    justify-content: space-between;
  }
}
.stepper__list__item {
  padding: 3px 5px;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
}
@media (min-width: 48em) {
  .stepper__list__item {
    padding: 10px;
    flex-direction: column;
    flex: 1;
  }
}
.stepper__list__item:after {
  content: "";
  display: block;
  position: absolute;
  z-index: 2;
}
@media (min-width: 48em) {
  .stepper__list__item:after {
    width: calc(100% - 100px);
    top: 28%;
    left: calc(50% + 50px);
    border-top: 2px dotted #E2DFDA;
  }
}
.stepper__list__item--done {
  color: #178A00;
  transition: all .1s;
}
@media (min-width: 48em) {
  .stepper__list__item--done:after {
    border-top-style: solid;
    border-top-width: 1px;
  }
}
.stepper__list__item--done:hover, .stepper__list__item--done:focus {
  /*text-decoration: underline;*/
  /*cursor: pointer;*/
}
.stepper__list__item--current {
  color: #006DFF;
}
.stepper__list__item--current:last-of-type:after, .stepper__list__item--current:only-of-type:after {
  height: 30%;
}
.stepper__list__item:last-of-type:after {
  display: none;
}
.stepper__list__item--pending {
  color: #807370;
}
.stepper__list__item--pending:after {
  height: 30%;
}
.stepper__list__title {
  margin: 1px 0 0;
}
@media (min-width: 48em) {
  .stepper__list__title {
    margin: 0;
  }
}
.stepper__list__icon {
  margin: 0 10px 0 0;
  height: 2em;
  width: 2em;
}
@media (min-width: 48em) {
  .stepper__list__icon {
    margin: 0 0 15px;
  }
}
.stepper__list__icon path {
  fill: currentColor;
}
.stepper__list__icon ellipse,
.stepper__list__icon circle {
  stroke: currentColor;
}

.thinfont{
  font-weight: 100;
}

.hidden{
  display: none;
}

.nopad {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
/*image gallery*/
.image-checkbox {
	cursor: pointer;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 4px solid transparent;
	
	outline: 0;
}
.image-checkbox input[type="checkbox"] {
	display: none;
}

.image-checkbox-checked {
	border-color: #4783B0;
}
.image-checkbox .fa {
  position: absolute;
  color: #4A79A3;
  background-color: #fff;
  padding: 5px;
  top: 0;
  right: 0;
}
.image-checkbox-checked .fa {
  display: block !important;
}

.image-checkbox .stepper__list__icon{
  width: 30px;
}

#addedFeatures{
  list-style: none;
}

.required {color:red; font-weight:bold}
.center-block {float:none}
.human {margin: 0 0 0 12px}

.highlighted,
.highlighted:focus,
.highlighted:active{
  border-color: #FF0000;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}


svg {
  padding: 5px;
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -45px;
  margin-left: -35px;
  width: 70px;
  height: 90px;
}

.leftIcon {
  left: 42%;
}

.rightIcon {
  left: 58%;
}

.redBtn{
  background-color: #c82333 !important;
  border-color: #c82333 !important;
  color: white !important;
}
